.arrow {
  display: block;
  opacity: .7;
  fill: $white;
  width: 26px;
  height: 16px;
  cursor: pointer;
  z-index: 11;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &--header {
    position: absolute;
    @include centered(x);
    bottom: 70px;
  }
  &--feedback {
    margin: 0 auto;
    transform: rotate(180deg);
  }
}

.arrow--slider {
  width: 43px;
  height: 27px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  opacity: 1;
}