.block-title {
  color: $blockTitleColor;
  font-size: 35px;
  @include sansusWebssimo;
  text-align: center;
  font-weight: $regularWeight;
  line-height: 1;
  margin-bottom: 20px;
}

.block-title--blog {
  color: $blockTitleColor;
  font-size: 35px;
  @include sansusWebssimo;
  text-align: left;
  font-weight: $regularWeight;
  line-height: 1;
  margin-bottom: 28px;
}

.block-title__text {
    max-width: 320px;
    display: inline-block;
    margin: 0 auto;
  
  @include tablets() {
    font-size: 30px;
  }
  
  @include phones() {
    font-size: 21px;
  }
}

.block-title--line {
    color: $blockTitleColor;
    font-size: 35px;
    @include sansusWebssimo;
    position: relative;
    text-align: center;
    margin-bottom: 44px;
    font-weight: $regularWeight;
    line-height: 1;

    &__text {
      max-width: 253px;
      display: inline-block;
      margin: 0 auto;
      padding-bottom: 28px;
    }

    &:after {
      background: $blockTitleColor;
      content: '';
      height: 3px;
      left: 50%;
      position: absolute;
      transform: translate(-50%);
      width: 89px;
      bottom: -23px;
    }
  }

.block-title--auth {
  color: $white;

  &:after {
    background: $white;
  }
}