.footer {
  background: rgba($sectionTitleColor, .85);
  bottom: $copyrightHeight;
  display: flex;
  flex-wrap: nowrap;
  height: $footerHeight;
  justify-content: space-between;
  left: 0;
  padding: 29px 51px 23px 31px;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 10;

  @include tablets() {
    padding: 29px 43px 27px 25px;
    height: auto;
    flex-flow: row wrap;
  }

  @include phones() {
    padding: 19px 10px 17px;
    flex-direction: column;

  }

  &__item {
    display: inline-flex;
    flex-grow: 1;
    max-width: 400px;
    position: relative;
    width: 100%;

    @include tablets() {
      flex: 1 1 50%;
      max-width: 100%;
      margin-bottom: 54px;

      &:nth-child(2) {
        padding-left: 30px;

        &:after {
          content: none;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include phones() {
      text-align: center;
      padding-bottom: 17px;
      border-bottom: 1px solid rgba($white, 0.2);
      margin-bottom: 17px;
      justify-content: center;

      &:nth-child(2) {
        padding-left: 0px;
      }

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }

    &:after {
      background: rgba($white, 0.2);
      content: "";
      height: 87px;
      position: absolute;
      right: 0;
      width: 1px;

      @include phones() {
        content: none;
      }
    }

    &:last-child:after {
      content: none;
    }

    &--left {
      padding-right: 68px;
      
      @include phones() {
        padding-right: 0;
      }
    }

    &--center {
      display: flex;
      flex-direction: column;

      @include phones() {
        align-items: center;
        padding-left: 0;
      }
    }

    &--right {
      display: block;

      @include tablets() {
        display: flex;
        flex-flow: column wrap;
      }

      @include phones() {
        line-height: 1.5;
        align-self: center;
        text-align: center;
        text-align: -webkit-center;
        max-width: 90%;
      }
    }
  }

  &__info {
    color: $white;
    @include roboto;
    font-size: $middleFont;
    font-weight: $lightWeight;
    line-height: 1.5;

    @include tablets() {
      font-size: 14px;
    }

    @include phones() {
      font-size: 1rem;
    }
  }

  &-nav {
    display: block;
    width: 100%;
    margin-bottom: 27px;

    @include phones() {
      margin-bottom: 20px;
    }

    &__list {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      @include phones() {
        justify-content: center;
      }
    }

    &__item {
      //display: inline-flex;
      flex-grow: 1;
      


      &:first-child {
        margin-left: 0;
      }
    }

    &__link {
      @include roboto;
      color: $white;
      font-size: $middleFont;
      font-weight: $mediumWeight;
      line-height: 1.5;
      transition: all $transition-time;

      @include tablets() {
        font-size: 14px;
      }

      @include phones() {
        font-size: 1rem;
      }

      &:hover {
        opacity: .5;
      }
    }
  }
  
  &__quote {
    color: $white;
    font-size: $middleFont;
    @include roboto;
    opacity: .5;
    line-height: 1.6;
    font-style: italic;

    &-text {
      font-weight: $lightWeight;

      @include tablets() {
        font-size: 14px;
        display: inline-flex;
        flex: 1 1 auto;
      }

      @include phones() {
        font-size: 1rem;
      }
    }

    &-author {
      font-weight: $hardWeight;
      @include tablets() {
        font-size: 14px;
        display: inline-flex;
        flex: 1 1 auto;
      }
      @include phones() {
        font-size: 1rem;
      }

    }
  }
}

.footer-index {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 40px;
  @include centered(x);
  
  @include tablets() {
    bottom: 70px;
    width: 80%;
  }

  @include phones() {
    line-height: 2;
    font-size: 14px;
  }
}