.hamburger {
    cursor: pointer;
    float: right;
    position: relative;
    z-index: 2;
}

#hamburger-icon {
    width: $width-line;
    height: $height-icon;
    position: relative;
    display: block;
    @include phones() {
        width: 26px;
        height: 23px;
    }
    .line {
        display: block;
        background: $white;
        width: $width-line;
        height: $height-line;
        position: absolute;
        left: 0;
        border-radius: ($height-line / 2);
        transition: all $transition-time;
        @include phones() {
            width: 26px;
        }
        &.line-1 {
            top: 0;
        }
        &.line-2 {
            top: 50%;
            @include tablets() {
                top: 40%;
            }
        }
        &.line-3 {
            top: 100%;
            @include tablets() {
                top: 85%;
            }
        }
    }
    &:hover,
    &:focus {
        .line-1 {
            transform: translateY($height-line / 2 * -1);
            background: $greenHover;
        }
        .line-2 {
            background: $greenHover;
        }
        .line-3 {
            transform: translateY($height-line / 2);
            background: $greenHover;
        }
    }
    &.active {
        .line-1 {
            transform: translateY($translateY) translateX($translateX) rotate($rotation);
            @include tablets() {
                transform: translateY(12.5px) translateX(0) rotate(45deg);
            }
            @include phones() {
                transform: translateY(2.5px) translateX(0) rotate(45deg);
            }
        }
        .line-2 {
            opacity: 0;
        }
        .line-3 {
            transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
        }
    }
}