.header {
  background: url('../img/bg-header.png') no-repeat center/cover;
  height: 600px;
  padding: 30px;
  position: relative;
  width: 100%;

  &:after {
    background-image: linear-gradient(to top, rgba(2, 2, 2, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
    content: "";
    height: 248px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__inner {
    z-index: 2;
  }

  &__portfolio,
  &__blog {
    position: absolute;
    margin: 0 auto;
    max-width: 1175px;
    max-height: 313px;
    width: 100%;
    opacity: .13;
    fill: $white;
    top: -37px;
    left: 0;
    right: 0;
    z-index: -1;
  }
  &__content {
    width: 100%;
    text-align: center;
    left: 0;
    transform: translateY(45%);
  }

  //&__arrow {
  //  position: absolute;
  //  left: 50%;
  //  transform: translateX(-50%);
  //  display: block;
  //  opacity: .7;
  //  bottom: 70px;
  //  fill: $white;
  //  max-width: 26px;
  //  max-height: 16px;
  //  cursor: pointer;
  //  z-index: 10;
  //
  //  &:hover {
  //    opacity: 1;
  //  }

  }