.navigation {
    opacity: 0;
    display: block;
    @include centered(full);
    z-index: -10;
    padding: 2rem;
    text-align: center;
    position: fixed;
    background-color: rgba(#6c9c5a, .85);
    &.open {
        opacity: 1;
        z-index: 10;
    }
}

.main-navigation {
    height: 100vh;
    position: relative;
    text-align: center;
    @include centered(both);
    @include tablets {
        padding-top: 45px;
    }
}

.main-navigation__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include centered(both);
}

.main-navigation__item {
    display: block;
    position: relative;
    opacity: 0;
}

.open {
    .main-navigation__item {
        animation: fadeInRight .5s ease forwards;
        animation-delay: .2s;
        &:nth-of-type(2) {
            animation-delay: .35s;
        }
        &:nth-of-type(3) {
            animation-delay: .40s;
        }
        &:nth-of-type(4) {
            animation-delay: .45s;
        }
    }
}

.main-navigation__link {
    display: inline-block;
    padding: 45px 0;
    color: $white;
    position: relative;
    cursor: pointer;
    @include sansusWebssimo;
    font-size: rem(63px);
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .5s ease-in-out;
    &:after {
        content: '';
        display: block;
        width: 50%;
        height: 3px;
        background-color: $white;
        position: absolute;
        bottom: 30px;
        @include centered(x);
        transition: all .5s ease-in-out;
    }
    &:hover {
        color: $white;
        &:after {
            background-color: $white;
        }
    }
    &:not(.main-navigation__link_active) {
        &:after {
            width: 0%;
        }
        &:hover:after {
            width: 50%;
        }
    }
    @include tablets {
        font-size: 49px;
        padding: 40px 0;
        &:after {
            bottom: 0;
        }
    }
    @include phones {
        font-size: 30px;
        padding: 20px 0;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}