.reviews {
  padding: 70px 20px 320px;
  width: 100%;
  position: relative;

}

.reviews-background {
  @include centered(full);
  top: 330px;
  z-index: 0;
}

.reviews-background__img {
  display: block;
  width: 100%;
  height: 100%;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  margin-bottom: 70px;
  max-width: 800px;
  width: 100%;

  @include tablets() {
    margin-bottom: 48px;
  }

  @include phones() {
    flex-direction: column;
    margin-bottom: 35px;
  }

}

.reviews__item {
  list-style: none;
  margin-right: 2%;
  width: 49%;
  position: relative;

  @include phones() {
    width: 100%;
    margin-right: 0;
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:before {
    content: '';
    position: absolute;
    width: 75px;
    height: 61px;
    top: 80px;
    left: 0;
    background: url('../img/quote.png');
    opacity: .9;
  }

  &:last-child {
    margin-right: 0;
  }
}

.reviews-person {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reviews-person__image {
  margin-right: 22px;
  border-radius: 50%;
  overflow: hidden;
  max-width: 77px;
  max-height: 77px;
  margin-bottom: 20px;

  @include phones() {
    max-width: 50px;
    max-height: 50px;
  }
}


.reviews-person__text {
  color: $darkGrey;;
  @include roboto;
  font-size: $middleFont;
  font-style: italic;
  line-height: 1.6;
  margin-bottom: 29px;

  @include tablets() {
     font-size: 0.875rem;
     margin-bottom: 15px;
  }
}

.reviews-person__info {
  @include roboto;
  font-size: $middleFont;
  line-height: 1.5;
}

.reviews-person__name {
  color: $greenHover;
  font-weight: $hardWeight;
  font-style: italic;
}

.reviews-person__prof {
  color: $sectionTitleColor;
  font-style: italic;
}