.section-title {
  align-self: flex-start;
  position: relative;
  text-align: center;

  &__img {
    opacity: .1;
    width: 100%;
  }

  &__text {
    color: $sectionTitleColor;
    @include sansusWebssimo;
    display: inline-flex;
    font-size: 63px;
    font-weight: $regularWeight;
    line-height: 1;
    text-transform: uppercase;
    @include centered();

    &:after {
      background: $sectionTitleColor;
      bottom: -21px;
      content: '';
      height: 3px;
      @include centered('x');
      position: absolute;
      width: 89px;
    }
  }
}

.section-title--about {
  flex: 45%;
  .section-title__img {
   width:auto;
  }
}

.section-title--works {
  background: #f8f9f5;
  padding-bottom: 24px;
}

.section-title--reviews {
    margin-bottom: 68px;

  .section-title__text {
    max-width: 350px;
  }
}

.section-title--blog {
  display: inline-block;
  margin-bottom: 14px;

  .section-title__img {
    top:69%;
    @include centered(both);
    width:303px;
    fill: $white;
  }

  .user__photo {
    margin: 0 auto 32px;
  }

  .section-title__text {
    color: $white;
    left: 0;
    margin-bottom: 63px;
    position: relative;
    top:0;
    transform: none;

    &:before, &:after {
      background-color: $white;
    }
  }
  .section-title__subtext {
    color: $white;
    font-size: $middleFont;
    letter-spacing: -0.5px;
  }
}
