//-Style for social icons

.social {
  display: inline-flex;

}

.social__item {
    display: inline-flex;
    margin-left: 27px;
    vertical-align: middle;

  @include phones() {
    margin-left: 29px;
  }

    &:first-child {
      margin-left: 0;
    }
}

.social__link {
    display: block;
  }

.social__icon {
  height: 22px;
  width: 31px;
  opacity: .5;
  vertical-align: top;
  fill: #ffffff;
  transition: all $transition-time;

  &:hover {
    fill: $greenHover;
    opacity: 1;
  }
}
.social__icon_github {
      max-height: 22px;
      max-width: 26px;
}
.social__icon_in {
      max-width: 24px;
      max-height: 22px;
}


//-Style for social icons in section header
.social--header {
  position: relative;
  z-index: 2;

  .social__icon {
    fill: $white;
    opacity: 1;

      @include phones() {
         max-width: 24px;
         max-height: 17px;

           &--github {
             max-width: 21px;
             max-height: 17px;

          }
           &--in {
            max-width: 19px;
            max-height: 17px;
          }
  }

    &:hover {
      fill: $greenHover;
    }
  }
}

//-Style for social icons in section footer
.social--footer {
  align-items: center;
  .social__icon {
    fill: $white;
    opacity: .5;

    @include phones() {
      width: 31px;
      height: 17px;

      &--github {
        width: 26px;
        height: 22px;
      }

      &--in {
        width: 24px;
        height: 22px;
      }
    }

    &:hover {
      fill: $white;
      opacity: 1;
    }
  }
}