.about-me {
    color: $blockTitleColor;
    font-size: $middleFont;
    line-height: 1.8;
    &__info {
        color: $blockTitleColor;
        padding: 0 rem(5px);
        margin-bottom: rem(56px);
        @include desctop() {
            margin-bottom: rem(39px);
        }
    }
    p {
        padding-bottom: rem(10px);
        &:last-child {
            padding-bottom: 0;
        }
    }
}