.triangle {
    display: block;
    height: 110px;
    position: absolute;
    bottom: 100%;
    width: 50%;
    @include tablets() {
        height: 68px;
    }
    @include desctop() {
        height: 100px;
        bottom: 100%;
    }
    @include tablets() {
        height: 65px;
    }
    @include phones() {
        height: 1.857rem;
    }
}

.triangle__left {
    left: 0;
}

.triangle__right {
    right: 0;
}

.triangle--about {
    &.triangle__left {
        fill: $bgAboutLeft;
        ;
    }
    &.triangle__right {
        fill: $bgAboutRight;
        @include tablets() {
            fill: #ebefe2;
        }
    }
}

.triangle--works {
    width: 50%;
    fill: #f8f9f5;
}

.triangle--blog {
    width: 50%;
    fill: $white;
}