.triangle {
  display: block;
  height: 110px;
  position: absolute;
  bottom: 100%;

  @include tablets() {
    height: 70px;
  }
}

.triangle__left {
    left: 0;
}

.triangle__right {
    right: 0;
}

.triangle--about {
  width: 100%;

  &.triangle__left {
    fill: $bgAboutLeft;;
  }

  &.triangle__right {
    fill: $bgAboutRight;
  }
}
.triangle--works {
  width: 50%;
  fill: #f8f9f5;
}

.triangle--blog {
  width: 50%;
  fill: $white;
}