.user {
    &__photo {
        border-radius: 50%;
        height: 141px;
        margin: 0 auto rem(20px) auto;
        width: 141px;
        display: block;
    }
    &__name {
        color: $white;
        font-size: rem(28px);
        font-weight: $mediumWeight;
        line-height: 1.1;
        margin-bottom: rem(9px);
        @include phones() {
            font-size: 1.5rem;
        }
    }
    &__prof {
        color: $white;
        font-size: $middleFont;
        line-height: 1.5;
        // margin-bottom: 30px;
        opacity: .8;
    }
}

.user--welcome {
    margin-bottom: rem(25px);
}

.user--header {
    color: $white;
    margin-bottom: rem(30px);
    @include tablets() {
        margin-bottom: rem(37px);
    }
    .user__name {
        font-size: rem(35px);
        @include phones() {
            font-size: rem(21px);
        }
    }
    .user__prof {
        font-weight: $lightWeight;
    }
}