.welcome-menu {}

.welcome-menu__list,
.welcome-menu-auth__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.welcome-menu__item,
.welcome-menu-auth__item {
    background-color: #6c9c5a;
    display: inline-flex;
    position: relative;
    &:first-child {
        border-bottom-left-radius: 5px;
        flex: 1 1 40%;
    }
    &:nth-child(2) {
        flex: 1 1 33%;
    }
    &:last-child {
        border-bottom-right-radius: 5px;
        flex: 1 1 25%;
    }
    &:hover {
        background-color: #4e8839;
    }
    &:before {
        background-color: #dee3e7;
        bottom: 0;
        content: "";
        left: -2px;
        opacity: 0.5;
        position: absolute;
        top: 0;
        width: 2px;
        &:first-child {
            content: none;
        }
    }
}

.welcome-menu__link,
.welcome-menu-auth__link {
    color: #fff;
    display: block;
    flex: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    padding: rem(6px);
}