.works-slider {
    display: flex;
    height: 100vh;
    min-height: 750px;
    @include tablets() {
        flex-direction: column;
        height: auto;
    }
    @include phones() {
        min-height: 573px;
    }
}

.works-slider__col {
    &--left {
        width: 50%;
        @include tablets() {
            width: 100%;
            display: flex;
        }
    }
    &--right {
        width: 50%;
        @include tablets() {
            width: 100%;
        }
    }
}

.works-slider__wrapper {
    max-width: 900px;
    position: relative;
    &--left {
        margin-left: auto;
        padding: 20px;
        position: relative;
        height: 100%;
        @include tablets() {
            width: 100%;
            padding: 0;
            height: auto;
        }
        @include phones() {
            padding-bottom: 2.143rem;
        }
    }
    &--right {
        margin-right: auto;
        height: 100%;
        @include tablets() {
            height: 215px;
        }
        @include phones() {
            height: 10.643rem;
        }
        @include smallPhones() {
            height: 6.65rem;
        }
    }
}

.works-slider__image-wrapper {
    position: absolute;
    height: 70%;
    left: 100%;
    width: 100%;
    top: 0;
    z-index: 10;
    padding: rem(114px) rem(64px) rem(100px) rem(57px);
    background-color: #e1e4d7;
    @include tablets() {
        position: relative;
        left: 0;
        height: 388px;
        padding: 0;
    }
    @include phones() {
        padding: rem(49px) rem(33px) rem(47px) rem(37px);
    }
}

.works-slider__image {
    display: block;
    width: 100%;
    height: 100%;
    @include tablets() {
        max-width: 80%;
        max-height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.works-slider__desc {
    @include centered(both);
    max-width: 420px;
    width: 100%;
    text-align: center;
    top: 48%;
    @include tablets() {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: static;
        transform: translate(0, 0);
        left: 0;
        padding: 44px 20px 60px;
        top: 0;
    }
    @include phones() {
        padding: 0;
        padding-top: 2rem;
    }
}

.works-slider__technologies {
    color: $greenHover;
    font-size: $middleFont;
    font-weight: $mediumWeight;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: rem(58px);
    @include roboto;
    @include tablets() {
        margin-bottom: rem(38px);
    }
    @include phones() {
        align-self: stretch;
        margin-bottom: rem(14px);
    }
}

.works-slider__link {
    display: inline-block;
    position: relative;
    background: $lightGreen;
    padding: rem(13px) rem(18px);
    color: $white;
    font-size: $middleFont;
    font-weight: $mediumWeight;
    border-radius: 20px;
    overflow: hidden;
    @include roboto;
    @include phones() {
        padding: rem(10px) rem(14px);
    }
    &:hover,
    &:focus {
        background: darken($lightGreen, 10%);
    }
}

.works-slider__link-text {
    position: relative;
    padding-left: 30px;
    line-height: 1.3;
}

.works-slider__link-icon {
    position: absolute;
    left: 0;
    max-width: 20px;
    max-height: 20px;
    fill: $white;
    @include centered('y');
}

.slider {
    display: flex;
    height: 30%;
    width: 100%;
    @include centered(x);
    bottom: 0;
    @include tablets() {
        height: 100%;
    }
}

.slider__link {
    width: 50%;
    padding: rem(30px) rem(15px);
    list-style: none;
    position: relative;
    outline: none;
    overflow: hidden;
    height: 100%;
    float: left;
    display: block;
    @include tablets() {
        padding: rem(15px) rem(49px);
    }
    @include phones() {
        padding: rem(7px) rem(20px);
    }
    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        background-color: rgba(176, 183, 170, 0.7);
    }
    &:last-child:after {
        background-color: rgba(147, 153, 141, 0.7);
    }
    &:hover {
        .slider-arrow__img {
            opacity: 0.7;
        }
    }
}

.slider__list {
    @include centered(full);
    display: flex;
    height: 100%;
    width: 100%;
    list-style: none;
    @include tablets() {
        width: 100%;
        height: 100%;
    }
}

.slider__item {
    position: absolute;
    padding: rem(30px) rem(15px);
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    &.active {
        top: 0;
    }
}

.slider__image {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 226px;
    @include tablets() {
        max-height: 180px;
    }
    @include phones() {
        max-height: 130px;
    }
    @include smallPhones() {
        max-height: 80px;
    }
}

.slider-arrow {
    @include centered(full);
    cursor: pointer;
    z-index: 100;
    &--top {
        transform: rotate(180deg);
    }
}

.slider-arrow__img {
    width: 43px;
    height: 27px;
    fill: $white;
    @include centered('both');
}