.about {
  display: flex;

  &__col {
    width: 50%;
    position: relative;

    &--left {
      background: $bgAboutLeft;

      .about__triangle {
        left: 0;
        fill: $bgAboutLeft;
      }
    }

    &--right {
      background: $bgAboutRight;

      .about__triangle {
        right: 0;
        fill: $bgAboutRight;
      }
    }
  }

  &__triangle {
    bottom: 100%;
    display: block;
    height: 110px;
    position: absolute;
    width: 100%;
  }

  &__wrapper {
    max-width: 900px;

    &--left {
      margin-left: auto;
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }

    &--right {
      margin-right: auto;
      padding: 20px 40px;
    }
  }
}

.about-me {
  max-width: 443px;
  width: 54%;

  &__photo {
    height: 390px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
  }


}