.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.admin-header {
    width: 100%;
    min-height: 60px;
    background-color: rgba(108, 156, 90, 0.85);
    padding: 0;
    margin: 0;
    padding-top: 20px;
    position: relative;
}

.exit-link {
    position: absolute;
    right: 30px;
    top: 24px;
    color: rgba(#fff, .7);
}

.tabs {
    background-color: #f0efe9;
    margin-bottom: 50px;
    &__list {
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 0;
        display: flex;
    }
    &__item {
        flex-grow: 1;
        text-align: center;
        max-width: 180px;
        font-size: 1rem;
        list-style-type: none;
        border-right: 2px solid #fff;
        &:hover {
            background-color: darken(#f0efe9, 5%);
        }
    }
    &__link {
        text-transform: uppercase;
        color: #455a64;
        padding: 30px 35px;
        text-decoration: none;
        display: block;
    }
    .active {
        background-color: #fff;
        .tabs__link {
            color: rgba(108, 156, 90, 0.85);
        }
    }
}

.title {
    font-size: 28px;
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #fff;
    margin-bottom: 15px;
}

.title--medium {
    color: #455a64;
    font-size: 21px;
}

.button {
    display: block;
    width: 100%;
    margin-top: 45px;
    &__item {
        padding: 16px 20px;
        display: block;
        background-color: rgba(108, 156, 90, 0.85);
        border-radius: 5px;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;
    }
}

.blog {
    max-width: 500px;
    &__input {
        display: block;
        padding: 15px;
        outline: none;
        border-radius: 5px;
        border: none;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 20px;
        }
    }
    &__textarea {
        resize: none;
        width: 100%;
        height: 166px;
    }
}

.skill__label__wrap {
    float: left;
    width: 100%;
    max-width: 50%;
    padding-left: 20px;
    padding-top: 9px;
}

.skill__input__wrap {
    float: left;
    width: 100%;
    max-width: 50%;
    text-align: right;
}

.skill {
    display: none;
    font-size: 1rem;
    color: #455a64;
    &__form {
        display: flex;
        flex-wrap: wrap;
        max-width: 650px;
    }
    &__input__wrap {
        font: left;
        max-width: 50%;
    }
    &__input {
        max-width: 50px;
        margin-right: 10px;
        outline: none;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        border: none;
        color: #455a64;
        &::-webkit-input-placeholder {
            color: #455a64;
            opacity: 1;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            color: #455a64;
            opacity: 1;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: #455a64;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            color: #455a64;
            opacity: 1;
        }
    }
    &__group {
        max-width: 250px;
        margin-right: 90px;
        flex-grow: 1;
        margin-bottom: 30px;
    }
    &__part {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.works {
    &__input {
        padding: 15px;
        margin-bottom: 20px;
        display: block;
        outline: none;
        border: none;
        border-radius: 5px;
    }
}