.blog {
    background-color: $white;
    padding: rem(66px) rem(180px) rem(242px);
    position: relative;
    @include desctop() {
        padding: rem(70px) rem(100px) rem(330px);
    }
    @include tablets() {
        padding: rem(54px) rem(36px) rem(318px) rem(25px);
    }
    @include phones() {
        padding: 25px 5px 395px 11px;
    }
}

.blog__inner {
    color: #566358;
    display: flex;
    font-size: $middleFont;
    line-height: 1.6;
    position: relative;
}

.blog-sidebar {
    margin-right: 100px;
    text-align: right;
    width: 275px;
    @include desctop() {
        width: 24%;
        margin-right: 9%;
    }
    @include tablets() {
        display: none;
    }
    .fixed {
        position: fixed;
        top: 2%;
        width: 15.5%;
        @include desctop() {
            width: 21.5%;
        }
    }
}

.blog-sidebar__list {
    list-style: none;
}

.blog-sidebar__item {
    display: block;
    font-size: 1rem;
    color: $blockTitleColor;
    @include roboto;
    list-style: none;
    margin-bottom: 35px;
    padding-right: 17px;
    cursor: pointer;
    &--active {
        border-right: 3px solid $greenHover;
        color: $greenHover;
    }
}

.blog-article {
    width: 60%;
    @include tablets() {
        width: 100%;
    }
}

.blog-article__item {
    border-bottom: 5px solid rgba(#373e42, .07);
    margin-bottom: rem(68px);
    padding-bottom: rem(70px);
    &:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.blog-article__date {
    color: $greenHover;
    font-size: $middleFont;
    font-weight: $regularWeight;
    margin-bottom: rem(25px);
    @include roboto;
    @include tablets() {
        margin-bottom: rem(9px);
        font-size: rem(14px);
    }
}