.blog {
    background-color: $white;
    padding: rem(66px) rem(180px) rem(242px);
    position: relative;
    @include desctop() {
        padding: rem(70px) rem(100px) rem(330px);
    }
    @include tablets() {
        padding: rem(54px) rem(36px) rem(318px) rem(25px);
    }
    @include phones() {
        padding: 25px 5px 395px 11px;
    }
}

.blog__inner {
    color: #566358;
    display: flex;
    font-size: $middleFont;
    line-height: 1.6;
    position: relative;
}

.blog-sidebar {
    margin-right: 100px;
    text-align: right;
    width: 275px;
    @include desctop() {
        width: 24%;
        margin-right: 9%;
    }
    @include tablets() {
        display: none;
    }
    .fixed {
        position: fixed;
        position: fixed;
        top: 3px;
        width: 15.5%;
        @include desctop() {
            width: 18.4%;
        }
    }
}

.blog-sidebar__list {
    list-style: none;
}

.blog-sidebar__item {
    display: block;
    position: relative;
    font-size: 1rem;
    color: $blockTitleColor;
    @include roboto;
    list-style: none;
    margin-bottom: 35px;
    padding-right: 17px;
    cursor: pointer;
    &--active {
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 3px;
            height: 100%;
            background-color: $greenHover;
        }
    }
    &--tab {
        color: $white;
        &:after {
            background-color: $white;
        }
    }
}

.blog-article {
    width: 60%;
    @include tablets() {
        width: 100%;
    }
}

.blog-article__item {
    border-bottom: 5px solid rgba(#373e42, .07);
    margin-bottom: rem(68px);
    padding-bottom: rem(70px);
    &:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.blog-article__date {
    color: $greenHover;
    font-size: $middleFont;
    font-weight: $regularWeight;
    margin-bottom: rem(25px);
    @include roboto;
    @include tablets() {
        margin-bottom: rem(9px);
        font-size: rem(14px);
    }
}

.t-blog-article {
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: $greenHover;
    left: 0;
    top: 0;
    opacity: .95;
    transition: left .4s;
    display: none;
    z-index: 111;
    @include tablets() {
        display: block;
    }
    &.close {
        left: -50%;
    }
}

.t-blog-article__wrapper {
    width: 100%;
    height: 100%;
    padding: 5%;
    text-align: right;
    position: relative;
}

.t-blog-article__handler {
    position: absolute;
    right: -1.25rem;
    top: 50%;
    width: 1.25rem;
    height: 2.5rem;
    background: $greenHover;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
}