.welcome {
  background: url("../img/bg-forest.png") no-repeat center/cover;
  height: 100%;
  width: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 20px 20px 128px 20px;
  }

  &__auth-btn {
    align-self: flex-end;
    background-color: inherit;
    border: 1px solid $white;
    border-radius: 20px;
    color: $white;
    cursor: pointer;
    font-family: 'roboto', sans-serif;
    font-size: $middleFont;
    font-weight: $mediumWeight;
    line-height: 2.1;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 5px 29px;
    transition: all .5s;

    &:hover {
      background: $greenHover;
      border: 1px solid #729e19;
    }
  }

  &__card {
    margin: auto;
    display: block;
  }

  //&__footer {
  //  color: $white;
  //  font-weight: $lightWeight;
  //  text-align: center;
  //  margin-top: 30px;
  //}
}