.welcome {
    //-background: url("../img/bg-forest.png") no-repeat center/cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: rem(20px) rem(20px) rem(105px) rem(20px);
    @include desctop() {
        padding: rem(20px) rem(20px) rem(188px) rem(20px);
    }
    @include tablets() {
        padding: rem(20px) rem(20px) rem(392px) rem(20px);
        background: url("../img/bg-forest.png") no-repeat center/cover;
    }
    @include phones() {
        padding: rem(4px) rem(15px) rem(157px) rem(11px);
    }
    &__auth-btn {
        align-self: flex-end;
        background-color: inherit;
        border: 1px solid $white;
        border-radius: 20px;
        color: $white;
        cursor: pointer;
        font-family: 'roboto', sans-serif;
        font-size: $middleFont;
        font-weight: $mediumWeight;
        line-height: 2.1;
        overflow: hidden;
        padding: 5px 29px;
        position: relative;
        transition: all .5s;
        @include phones() {
            align-self: center;
            padding: rem(3px) rem(13px);
        }
        &:hover {
            background: $greenHover;
            border: 1px solid #729e19;
        }
    }
    &__card {
        margin: auto;
        display: block;
    }
}

.welcome-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include tablets() {
        display: none;
    }
}

.welcome-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), transparent 50%, rgba(0, 0, 0, 0.5));
}

.welcome-background-canvas {
    min-height: 100%;
}