.works {
    position: relative;
    background-color: $bgAboutRight;
}

.works__inner {
    background-color: #f4f5f0;
}

.leaf {
    position: absolute;
    z-index: 0;
    @include tablets() {
        display: none;
    }
}

.leaf1 {
    width: 58px;
    height: 108px;
    top: 655px;
    left: 172px;
}

.leaf2 {
    width: 99px;
    height: 91px;
    top: 82px;
    left: 37px;
}

.leaf3 {
    width: 141px;
    height: 120px;
    top: 521px;
    right: 6px;
}