.works {
  position: relative;
  background-color: $bgAboutRight;
}

.works__inner {
  background-color: #f4f5f0;
}

.works__content {
  display: flex;
}

.works__col--left {
  background-color: #ebefe2;
  position: relative;
  width: 50%;
}

.works__col--right {
  background-color: #e1e4d7;
  position: relative;
  width: 50%;
}

.works__wrapper {
  max-width: 900px;
}

.works__wrapper--left {
  margin-left: auto;
  padding: 20px;
}

.works__wrapper--right {
  margin-right: auto;
}

.leaf1 {
  position: absolute;
  width: 58px;
  height: 108px;
  top: 655px;
  left: 172px;
  z-index: 1;
}

.leaf2 {
  position: absolute;
  width: 99px;
  height: 91px;
  top: 82px;
  left: 37px;
  z-index: 1;
}

.leaf3 {
  position: absolute;
  width: 141px;
  height: 120px;
  top: 521px;
  right: 6px;
  z-index: 1;
}