

.card {
  border-radius: 4px 5px 5px 4px;
  background-color: rgba(#122620, .6);
  text-align: center;
  overflow: hidden;

  &__content {
    padding: 40px 66px;
  }

}

.social {
  padding: 0;
  margin: 0;

  &__item {
    list-style: none;
    display: inline-block;
    margin-left: 27px;
    vertical-align: middle;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    display: block;
  }

  &__icon {
    vertical-align: top;
    max-width: 31px;
    max-height: 22px;
    fill: #fff;
    opacity: .5;

    &--github {
      width: 26px;
      height: 22px;
    }

    &--in {
      width: 24px;
      height: 22px;
    }

    &:hover {
      fill: #4e8839;
      opacity: 1;
    }
  }
}


