//-Colors
$lightGreen: #6c9c5a;
$greenHover: #4e8839;
$white: #ffffff;
$sectionTitleColor: #373e42;
$blockTitleColor: #566358;
$bgAboutLeft: #ebefe2;
$bgAboutRight:#f4f5f0;

//-Text
$lightWeight: 300;
$regularWeight: 400;
$mediumWeight: 500;
$middleFont: 16px;
$smallFont: 14px;


//-Hamburger-icon
$height-icon: 35px;
$width-line: 40px;
$height-line: 4px;
$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;
