mixin navigation()
    .navigation.js-navigation
        +nav('main-navigation', {
            'Мои работы': './works',
            'Блог': './blog',
            'Обо мне': './about',
            'Авторизация': './index'
        })