mixin preloader()
    .preloader 
            .preloader__spinner
                .preloader__percents
                    span.preloader__count 0%
                .preloader__img
                    .preloader__svg
                        .preloader__svg-line
                            svg.svg-line
                                use(xlink:href="assets/img/sprite.svg#preloader")
                        .preloader__svg-line
                            svg.svg-line
                                use(xlink:href="assets/img/sprite.svg#preloader")
                        .preloader__svg-line
                            svg.svg-line
                                use(xlink:href="assets/img/sprite.svg#preloader")