mixin hamburger()
    .hamburger
        a.hamburger-icon
            span.hamburger-icon__line.hamburger-icon__line--top
            span.hamburger-icon__line.hamburger-icon__line--middle
            span.hamburger-icon__line.hamburger-icon__line--bottom