mixin header-blog()
    section.section.header.header--blog#paralaxScroll
        .header-background
            img.header-background__img.js-header-background__img(src='assets/img/bg-header.png')
        .section__wrapper
            +ul('social', 'header',
            {
                vk: "https://vk.com/ars_34",
                github: "https://github.com/b-ars07",
                in: "https://www.linkedin.com/in/arseny-berezin-b58567113/"
            })
            +hamburger()
            .header__content
                img.user__photo(src="assets/img/ava.jpg")
                .section-title.section-title--blog
                    svg(class='section-title__img', viewBox="0 0 302.193 208.012")
                        use(xlink:href="assets/img/sprite.svg#blog_header")
                    h2.section-title__text Блог
                    p.section-title__subtext Статьи которые я написал
            +arrow('blog')