include hamburger

mixin header(svgName)
    section.section.header
        .header-background
            img.header-background__img.js-header-background__img(src='assets/img/bg-header.png')
        .section__wrapper.header__inner
            +ul('social', 'header',
            {
                vk: "https://vk.com/ars_34",
                github: "https://github.com/b-ars07",
                in: "https://www.linkedin.com/in/arseny-berezin-b58567113/"
            })
            +hamburger()
            .header__content
                svg(class=`header__${svgName}`, viewBox="0 0 1175.495 313.961")
                    use(xlink:href="assets/img/sprite.svg#" + `${svgName}_header`)
                +user('header')
            +arrow('header')