mixin navigation()
    .navigation.js-navigation
        +nav('main-navigation', {
            'Мои работы': './works.html',
            'Блог': './blog.html',
            'Обо мне': './about.html',
            'Авторизация': './index.html'
        })