extends ../_template-admin
block content

    .admin
        header.admin-header
            .header__title Панель администрирования
            a(href="/").admin-header__link Вернуться на сайт
        .tabs
            nav.tabs__nav
                ul.tabs__controls
                    li(data-item="about").tabs__control.active
                        a(href="#").tabs__link Обо мне
                    li(data-item="blog").tabs__control
                        a(href="#").tabs__link Блог
                    li(data-item="works").tabs__control
                        a(href="#").tabs__link Мои работы
            ul.tabs__contents
                li.tabs__content.tabs__content_about.active
                    .tabs__container
                        .tabs__title Страница &laquo;Обо мне&raquo;
                        form(action="/admin/about" method="post").admin-form.admin-form_location_about#skills
                            each val in items
                                .admin-skills
                                    .admin-skills__title= val.section
                                    ul.admin-skills__list
                                        each lineSkill in val.items
                                            li.admin-skills__item
                                                label.admin-form__label
                                                    .admin-form__label-text= lineSkill.name
                                                    input(type="text" name=`${lineSkill.name}` value=`${lineSkill.value}`).admin-form__input
                            .admin-form__button
                                button.button.button_action_save
                                    .button__text Cохранить
                            +popup()
                li.tabs__content.tabs__content_blog
                    .tabs__container
                        .tabs__title Страница &laquo;Блог&raquo;
                        form.admin-form.admin-form_location_blog#form-blog
                            .admin-form__title Добавить запись
                            input(type="text" name="title" placeholder="Название").admin-form__input
                            input(type="date" name="date").admin-form__input
                            textarea(name="text" placeholder="Содержание").admin-form__textarea
                            .admin-form__button
                                button(type="submit").button.button_action_save
                                    .button__text Добавить
                            +popup()
                li.tabs__content.tabs__content_works
                    .tabs__container
                        .tabs__title Страница &laquo;Мои работы&raquo;
                        form(method="POST" enctype="multipart/form-data").admin-form.admin-form_location_works#upload
                            .admin-form__title Добавить работу
                            input(type="text" name="name" placeholder="Название проекта").admin-form__input#project-title
                            input(type="text" name="tech" placeholder="Технологии").admin-form__input#project-tech
                            input(type="text" name="link" placeholder="Cсылка").admin-form__input#project-link
                            label.admin-form__label
                                input(type="file" name="photo" accept="image/*").admin-form__file#project-file
                                .admin-form__file-fake Загрузить картинку
                            .admin-form__button
                                button(type="submit").button.button_action_save
                                    .button__text Добавить
                            +popup()