extends ../_template


block content
    section.section.welcome
        .welcome-background#welcome-background
            canvas.welcome-background-canvas
        button.welcome__auth-btn Авторизоваться
        .card__wrapper
            section.card
                .card__welcome.card__welcome--active
                    .card__content
                        +user('welcome')
                        +ul('social', '',
                        {
                            vk: "https://vk.com/ars_34",
                            github: "https://github.com/b-ars07",
                            in: "https://www.linkedin.com/in/arseny-berezin-b58567113/"
                        })
                    .card__nav
                        +nav('welcome-menu', {
                        'Мои работы': './works',
                        'Обо мне': './about',
                        'Блог': './blog'
                        })
                        
                form.card__auth#authForm(method='POST')
                    +popup()
                    .card__content
                        +blockTitle('Авторизуйтесь','line','auth')
                        .form-authorization__valid-text.status.js-valid-text
                        .form-authorization
                            .form-authorization__item
                                label.form-authorization-form__label
                                    input.form-authorization__input(name='login', type='text', placeholder='Логин', required)
                            .form-authorization__item
                                label.form-authorization__label
                                    input.form-authorization__input(name='password', type='password', placeholder='Пароль', required)
                        +checkbox('person', 'Я человек', 'checkbox')
                        p.card__content-text Вы точно не робот?
                        .card__content-radio
                            +checkbox('radio','Да','radio','1')
                            +checkbox('radio','Не уверен (O_O)','radio','0')
                    .welcome-menu-auth
                        ul.welcome-menu-auth__list
                            li.welcome-menu-auth__item
                                a.welcome-menu-auth__link.js-authorization На главную
                            li.welcome-menu-auth__item
                                button.welcome-menu-auth__link(type='submit') Войти

block footer
    footer.footer-index
        +copyright('index-page')
        