extends ../_template

block variables
    -
        var
            title = 'Обо мне|Арсений Березин frontend developer',
            description = 'frontend-developer Berezin Arseniy, web-developer',
            keywords = 'about Berezin Arseniy, web, web-developer website'

block content
    .wrapper
        +header('portfolio')
        section.section.about
            .about__col.about__col--left
                +leftTriangle('about')
                .about__wrapper.about__wrapper--left
                    +sectionTitle('about_header', 'Обо мне', 'about')
                    .about-me
                        .about-me__photo(style="background: url('assets/img/ava.jpg')")
                        +blockTitle('Кто я','line')
                        .about-me__info
                            p
                                | Я веб разработчик из Волгограда. Мне 22 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                                | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .about__col.about__col--right
                +rightTriangle('about')
                .about__wrapper.about__wrapper--right
                    .skills
                        +blockTitle('Чем я вам могу быть полезен','line')
                        .about-me__info
                            p
                                |Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
                        +skills('Frontend',{
                                    html: 'HTML5',
                                    css: 'CSS3',
                                    js: 'JavaScript',
                                    jquery: 'jQuery',
                                    svg: 'SVG'
                                })
                        +skills('Backend',{
                                    php: 'PHP',
                                    mySQL: 'MySQL',
                                    postgres: 'PostgreSQL',
                                    nodeJS: 'Node.JS',
                                    mongo: 'MongoDB'
                                })
                        +skills('Workflow',{
                                    git: 'Git',
                                    gulp: 'Gulp',
                                    bower: 'Bower',
                                    yarn: 'Yarn',
                                    webpack: 'webpack'
                                })
        section.section.map
            .google-map#map
            .contacts-card
                +blockTitle('Контакты')
                ul.contacts
                    li.contacts__item
                        a.contacts__link.c-contacts__link--skype(href='skype:arsloko') arsloko
                            svg.contacts__icon
                                use(xlink:href="assets/img/sprite.svg#skype")
                    li.contacts__item
                        a.contacts__link.contacts__link--mail(href='mailto:b-ars07@yandex.ru') b-ars07@yandex.ru
                            svg.contacts__icon
                                use(xlink:href="assets/img/sprite.svg#envelope")
                    li.contacts__item
                        a.contacts__link.contacts__linlk--tel(href='tel:+7(968)283-26-38') +7(968)283-26-38
                            svg.contacts__icon
                                use(xlink:href="assets/img/sprite.svg#phone")
                    li.contacts__item
                        a.contacts__link.contacts__link--address г.Волгоград, ул. Кирова, д.109А, кв. 83
                            svg.contacts__icon
                                use(xlink:href="assets/img/sprite.svg#map_marker")
        +footer()
        +copyright('about')