extends ../_template

block variables
  -
    var
        title = title = 'Главная|Арсений Березин frontend developer'

block content
  section.section.welcome
      .welcome__inner.section__wrapper
        button.welcome__auth-btn Авторизоваться
        .welcome__card
          section.card
            .card__content
              +user()
              +ul('social', 'welcom',
              {
                  vk: "https://vk.com/ars_34",
                  github: "https://github.com/b-ars07",
                  in: "https://www.linkedin.com/in/arseny-berezin-b58567113/"
              })
            +nav('welcome-menu', {'Мои работы':'./portfolio.html', 'Обо мне':'./about.html', 'Блог':'./blog.html'})
          //-form.card_autorization
  +copyright('index-page')