extends ../_template

block variables
    -
        var
        title = title = 'Портфолио|Арсений Березин frontend developer'

block content
    .works__inner
        +header('portfolio')
        section.section.works.js-section-content
            +leftTriangle('works')
            +rightTriangle('works')
            +sectionTitle('works_header','Мои работы','works')
            .works__content
                .works__col--left
                    .works__wrapper.works__wrapper--left
                        .work
                            +blockTitle('Сайт школы онлайн Образования','line', '')
                            p.work__technologies HTML , CSS, JAVASCRIPT
                            a.work__link(href='https://www.loftschool.com' target='_blank')
                                span.work__link-text Посмотреть сайт
                                    svg.work__link-icon
                                        use(xlink:href="assets/img/sprite.svg#link")

                .works__col--right
                    .works__wrapper.works-slider.works__wrapper--right
                        .works-slider__image-wrapper
                            .works-slider__image(style='background-image: url(assets/img/work-1.png)')
                        ul.works-slider-list
                            li.works-slider-list__item
                                .works-slider-list__image(style='background-image: url(assets/img/work-2.png)')
                                a.works-slider-arrow
                                    svg.works-slider-arrow__img
                                        use(xlink:href="assets/img/sprite.svg#arrow_down")
                            li.works-slider-list__item
                                .works-slider-list__image(style='background-image: url(assets/img/work-3.png)')
                                a.works-slider-arrow
                                    svg.works-slider-arrow__img.works-slider-arrow__img--top
                                        use(xlink:href="assets/img/sprite.svg#arrow_down")

        section.section.reviews
            img(src="assets/img/leaf1.png" alt="leaf 1").leaf.leaf1
            img(src="assets/img/leaf2.png" alt="leaf 2").leaf.leaf2
            img(src="assets/img/leaf3.png" alt="leaf 3").leaf.leaf3
            .reviews-background
                img.reviews-background__img(src="assets/img/bg-works.png")
            +sectionTitle('about_header', 'Что обо мне говорят', 'reviews')
            ul.reviews__list
                li.reviews__item
                    i.reviews__item-icon

                    .reviews-person
                        img.reviews-person__image(src='assets/img/koval.png')
                        p.reviews-person__text
                            | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых
                            | тяжелых испытаний и бессонных ночей!
                        .reviews-person__info
                            p.reviews-person__name Ковальчук Дмитрий
                            p.reviews-person__prof основатель Loftschool
                li.reviews__item
                    i.reviews__item-icon
                    .reviews-person
                        img.reviews-person__image(src='assets/img/saba.png')
                        p.reviews-person__text
                            | Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых
                            | браузерах!
                        .reviews-person__info
                            p.reviews-person__name Сабанцев Владимир
                            p.reviews-person__prof преподаватель Loftschool
            .feedback
                .feedback__inner
                    +blockTitle('Связаться со мной','line','works')
                    +form('feedback-form',
                    {
                        'Имя': 'text',
                        'Email': 'email'
                    },
                    {
                        'Ваше сообщение': 'textarea'
                    })
                .feedback-buttons
                    button.feedback-button.feedback-button--send(type='submit') Отправить
                    button.feedback-button.feedback-button--clear(type='button') Очистить
            +arrow('feedback')
block footer
    +footer()
    +copyright('works')
